* {
    font-family: Helvetica-now, serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.dia {
    background-color: rgba(240, 248, 255, 0.60);
    width: auto;
    padding: 40px;
    margin: 50px 65px;
    border-radius: 10px;

}

h2 {
    margin-top: 0;
    font-size: 30px;
}

h3 {
    font-size: 23px;
}

.dia p {
    text-align: justify;
    margin-right: 20px;

}

.paquete {
    display: flex;
}

.paquete-texto {
    flex: auto;
    
}

.paquete-foto {
    text-align: right;
    flex: auto;
    margin-top: 15px;

}

.subtitulos-fotos {
    display: flex;
}

.subtitulos-fotos div {
    flex: auto;
    text-align: center;

}

.paquete-foto-dobles {
    flex: auto;
    margin-top: 15px;

}

h4 {
    font-size: 18px;
}

.paquete-foto-vertical {
    flex: 1;
    margin-left: 15px;
    margin-top: 20px;
}

.paquete-foto-vertical-strokkur {
    flex: 1;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}